<div class="container-fluid mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center mb-4">Login</h4>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group mt-2">
                <label>Email</label>
                <input
                  type="email"
                  name="email"
                  formControlName="email"
                  class="form-control"
                  placeholder="Email"
                />
                <div *ngIf="emailIsValid" class="error-message alert alert-warning">
                  Please enter a valid email
                </div>
              </div>
  
              <div class="form-group mt-2">
                <label>Password</label>
                <input
                  type="password"
                  name="password"
                  formControlName="password"
                  class="form-control"
                  placeholder="Password"
                />
                <div *ngIf="passwordIsValid" class="error-message alert alert-warning">
                  Please enter a valid password
                </div>
              </div>
              <!-- <div *ngIf="invalidLogin" class="error-message alert alert-warning">
                Invalid email or password
              </div> -->
              <button type="submit" class="btn btn-primary mt-4">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  